
<p>Contacts</p>
<div >
    <form (ngSubmit)="onSubmit(data)">
        <div style="padding:10px;">
            <label>Name</label>
            <input type="text" name="name" #first_name="ngModel" [(ngModel)]="contacts.first_name" /><br />
        </div>
        <div style="padding:10px;">
            <label>Lastname</label>
            <input type="text" name="lastname" #last_name="ngModel" [(ngModel)]="contacts.last_name" /><br />
        </div>
        <div style="padding:10px;">
            <label>Email</label>
            <input type="text" name="email" #email="ngModel" [(ngModel)]="contacts.email" /><br />
        </div>
        <div style="padding:10px;">
            <label>Phone</label>
            <input type="text" name="phone" #phone_number="ngModel" [(ngModel)]="contacts.phone_number" /><br />
        </div>
        <div style="padding:10px;">
            <label>School</label>
            <input type="text" name="school" #school="ngModel" [(ngModel)]="contacts.school" /><br />
        </div>
        <div>
          <button class="button is-primary" [ngClass]="{'is-loading': isLoading}" submit>Submit</button>
        </div>
    </form>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Phone</th>
                <th>School</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts">
                <td>{{ contact.first_name }}</td>
                <td>{{ contact.last_name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phone_number }}</td>
                <td>{{ contact.school }}</td>
                <td>
                    <a href="#" ng-click="edit(contact.id)">edit</a> |
                    <a href="#" ng-click="delete(contact.id)">delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
