<!-- New message groups view -->
<div id="msg-list">
  <div class="new-msg">
    <p>New Message...</p>
  </div>
  <div class="msg">
    <div class="user-pic">
      <img src="/assets/app-imgs/circle.png" width="50" height="50">
    </div>
    <div class="msg-content">
      <p>Migy Dgz</p>
      <p>Hey! Please reply.</p>
    </div>
  </div>

  <div class="msg">
    <div class="user-pic">
      <img src="/assets/app-imgs/circle.png" width="50" height="50">
    </div>
    <div class="msg-content">
      <p>Migy Dgz</p>
      <p>Hey! Please reply.</p>
    </div>
  </div>

  <div class="msg">
    <div class="user-pic">
      <img src="/assets/app-imgs/circle.png" width="50" height="50">
    </div>
    <div class="msg-content">
      <p>Migy Dgz</p>
      <p>Hey! Please reply.</p>
    </div>
  </div>

  <div class="msg">
    <div class="user-pic">
      <img src="/assets/app-imgs/circle.png" width="50" height="50">
    </div>
    <div class="msg-content">
      <p>Migy Dgz</p>
      <p>Hey! Please reply.</p>
    </div>
  </div>

</div>

<div id="main">
  <form (ngSubmit)="onSubmit(data)">
    <div id="num-input">
      <select2 [data]="exampleData" [width]="500" [options]="options" required></select2>
      <!-- <input type="text" name="phone_number" id="phone_number" [(ngModel)]="data.phone_number" value="" /> -->
      <br/><br/>

    </div>
    <div id="msg-input">
      <input type="text" name="message" id="message" [(ngModel)]="data.message" placeholder="Message..." required />
    </div>
    <div id="msg-send">
      <button class="button is-primary" [ngClass]="{'is-loading': isLoading}" submit>Send</button>
    </div>
</form>

</div>