<nav class="navbar nav-fixed-top">
  <div class="navbar-brand">
    <a [routerLink]="['/']" class="navbar-item">
      <img src="assets/app-imgs/logo-white.png" alt="TXT logo">
    </a>



    <!-- <div class="navbar-burger burger" data-target="navMenuTransparentExample" (click)="showMenu()" [ngClass]="{'is-active': menuActive}">
      <span></span>
      <span></span>
      <span></span>
    </div> -->
  </div>

  <div id="navMenuTransparentExample" class="navbar-menu" [ngClass]="{'is-active': menuActive}">


    <div class="navbar-end">

    </div>
  </div>

  <!-- This is for the possible nav bar of the portal -->
  <!-- <a class="" [routerLink]="['/']">Home</a>
  <a class="mdl-navigation__link" [routerLink]="['/texts']">Texts</a> -->
  <a (click)="logout()" style="color:white;">Logout</a>
</nav>


<router-outlet id="main-content"></router-outlet>
