<nav class="navbar nav-fixed-top">
  <div class="navbar-brand">
    <a routerLink="/home" class="navbar-item">
      <img src="assets/app-imgs/logo-white.png" alt="TXT logo">
    </a>



    <!-- <div class="navbar-burger burger" data-target="navMenuTransparentExample" (click)="showMenu()" [ngClass]="{'is-active': menuActive}">
      <span></span>
      <span></span>
      <span></span>
    </div> -->
  </div>

  <div id="navMenuTransparentExample" class="navbar-menu" [ngClass]="{'is-active': menuActive}">


    <div class="navbar-end">

    </div>
  </div>
</nav>


<router-outlet id="main-content"></router-outlet>
